version: '3'

services:
  backend:
    restart: always
    build: ./backend
    command: npm run dev
    volumes:
      - ./backend/src/:/app/src
      - ./backend/node_modules:/app/node_modules
    env_file: .env
    depends_on:
      - mongo

  mongo:
    image: mongo:5.0.7
    volumes:
      - data_mongo:/data/db
    env_file: .env

  nginx:
    restart: always
    image: nginx:1.21.6-alpine
    volumes:
      - ./deployment/development/config.nginx:/etc/nginx/conf.d/default.conf
    ports:
      - 8080:80
    depends_on:
      - backend
      - frontend

  frontend:
    restart: always
    build: ./frontend
    command: npm run dev
    volumes:
      - ./frontend:/app
      - ./frontend/node_modules:/app/node_modules
    env_file: .env

volumes:
  data_mongo:
    driver: local
