upstream frontend {
    server frontend:8080;
}

upstream backend-main {
    server backend-main:8080;
}

upstream backend-websocket {
    server backend-websocket:8081;
}

server {
    listen 80 default_server;
    server_name localhost;

    autoindex off;
    client_max_body_size 100M;
    charset utf-8;
    access_log off;
    proxy_cache off;
    proxy_no_cache 1;
    proxy_cache_bypass 1;
    add_header Last-Modified $date_gmt;
    if_modified_since off;
    expires off;
    etag off;

    location /api/ {
        add_header Cache-Control 'no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0';
        proxy_pass http://backend-main/api/;
    }

    location /websocket/ {
        proxy_pass http://backend-websocket/websocket/;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_set_header Host $host;
    }

    location / {
        proxy_pass http://frontend/;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_set_header Host $host;
        chunked_transfer_encoding off;
    }
}
