server {
    listen 80;
    server_name $NGINX_IP;
    access_log off;
    return 301 https://$NGINX_DOMAIN$request_uri;
}

server {
    listen 80 default_server;
    server_name $NGINX_DOMAIN;

    access_log off;
    autoindex off;
    client_max_body_size 100M;
    charset utf-8;
    root /app;

    location /api/ {
        proxy_pass http://backend:8080/api/;
    }

    location /socket.io/ {
        proxy_pass http://backend:8080/socket.io/;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_set_header Host $host;
    }

    location /admin/frontend/assets {
        add_header Pragma public;
        add_header Cache-Control "public";
        alias /app-admin/assets;
    }

    location /admin {
        proxy_pass http://backend:8080;
    }

    location ~* \.(?:ico|gif|jpe?g|png|woff2?|eot|otf|ttf|svg|js|css)$ {
        add_header Pragma public;
        add_header Cache-Control "public";
        gzip_static on;
        try_files $uri $uri/;
    }

    location / {
        try_files $uri $uri/index.html @home;
    }

    location @home {
        return 301 /;
    }
}
