server {
    listen 80 default_server;
    server_name localhost;

    autoindex off;
    client_max_body_size 100M;
    charset utf-8;
    access_log off;

    location /api/ {
        proxy_pass http://backend:8080/api/;
    }

    location /socket.io/ {
        proxy_pass http://backend:8080/socket.io/;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_set_header Host $host;
    }

    location / {
        proxy_pass http://frontend:8080/;
        proxy_cache off;
    }
}
